@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

.stickyHeaderCard {
  position: sticky;
  top: -0.2px;
}

.wrapJobDescription {
  padding: 32px;
  .jobDescription {
    margin-bottom: 20px;
  }
}

.wrapSendApplicationButton {
  padding: 8px 28px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  .sendApplication {
    width: 100%;
  }
}
