@import '../../../styles/colors';
@import '../../../styles/typography';
@import '../../../styles/variables';

.wrapCard {
  background-color: white;
  box-shadow: 0px 0px 16px -4px rgba(131, 137, 169, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  @media @desktop-medium {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .jobInfoMobile {
    @media @desktop-medium {
      flex-direction: column;
      display: none;
    }

    .mobileJobHeader {
      display: flex;
      align-items: center;

      .wrapCompanyLogo {
        width: 83px;
        height: 67px;
        border: 1px solid @grey-violet-200;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .jobCompanyTitles {
      margin-left: 12px;

      .positionTitle {
        color: @grey-warm-600;
      }

      .companySubheader {
        color: @grey-warm-400;
      }
    }
  }

  .jobInfoDesktop {
    display: none;
    @media @desktop-medium {
      flex-direction: row;
      display: flex;
    }
    .wrapCompanyLogo {
      width: 109px;
      height: 100px;
      border: 1px solid @grey-violet-200;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
    }

      .positionTitle {
        color: @grey-warm-600;
      }

      .companySubheader {
        color: @grey-warm-400;
      }
    }

}

.cardDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  margin: 16px 0;
  @media @desktop-medium {
    margin: 16px 0 0 0;
  }

  .cardDetail {
    background-color: @grey-violet-050;
    border: 1px solid @grey-violet-300;
    border-radius: 4px;
    padding: 4px 8px;

    .detailTitle {
      color: @grey-warm-400;
    }

    .detailInfo {
      color: @grey-warm-600;
    }
  }

  .cardDetail > p {
    margin-bottom: 0;
  }
}

.applyButton {
  @media @desktop-medium {
    height: 31px;
    width: 159px;
  }
}

.modalTitle {
  color: @grey-warm-600;
}
:global {
  .ant-modal-header {
    border-bottom: 2px solid white;
  }
  .ant-modal-body {
    padding: 0;
    overflow-y: scroll;
    position: relative;
    height: 667px;
  }
}
